<?xml version="1.0" encoding="UTF-8"?>
<TEMPERATURE-MONITOR>
<HARDWARE>
  <CLOCK>
    <PIN>13</PIN>
  </CLOCK>
  <DATA>
    <PIN>11</PIN>
  </DATA>
</HARDWARE>
<SENSORS>
  <CHANNEL>
    <NAME>Propagator</NAME>
    <CSPIN>12</CSPIN>
    <RELAY>40</RELAY>
  </CHANNEL>
</SENSORS>
<DISPLAY>
  <TITLE>Propagator Thermostat</TITLE>
  <UNITS>C</UNITS>
</DISPLAY>
<LOGGING>
  <INTERVAL>10</INTERVAL>
</LOGGING>
</TEMPERATURE-MONITOR>